@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.about {
  background: rgb(124, 160, 169);
  margin-bottom: -1rem;
  gap: 2rem;
  //laptop//
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .abt {
    padding-bottom: 2.5rem;
    //tablet//
    @media (min-width: 576px) {
      width: 70%;
    }
    //laptop//
    @media (min-width: 768px) {
      width: 60%;
    }
    //desktop//
    @media (min-width: 992px) {
      width: 50%;
    }
    .slider-abt {
      display: none;
      @include flexCenter;
      width: 100%;

      img {
        border-radius: 1rem;
        width: 90%;
        max-width: 25rem;
        position: relative;
      }

      .arrowsSVG {
        color: rgb(0, 0, 0);
      }

      .prev-btn {
        font-size: 1.8rem;
        position: absolute;
        bottom: 0.2rem;
        left: calc(50% - 2rem);
      }
      .next-btn {
        font-size: 1.8rem;
        position: absolute;
        bottom: 0.2rem;
        right: calc(50% - 2rem);
      }
    }
  }
}
