@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.contact {
  .contact-container {
    background: white;
    @include flexCenter;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding-bottom: 2rem;

    .contact-info {
      @include flexCenter;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 2rem;
      width: 100%;
      //laptop//
      @media (min-width: 768px) {
        flex-direction: row;
      }

      .image {
        flex: 1;
        background: lightgrey;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 10rem;
        transform: translateY(0);
      }

      .contact-left {
        @include flexCenter;
        flex-direction: column;
        align-items: flex-start;
      }

      .contact-right {
        @include flexCenter;
        align-items: flex-start;
        flex-direction: column;
        background: lightgreen;
        margin-left: 1rem;
        margin-right: 1rem;

        .contact-right-name {
          @include flexCenter;
          width: 100%;
          input {
            height: 2rem;
            width: 100%;
          }
        }

        .contact-right-email-phone {
          @include flexCenter;
          width: 100%;
          input {
            height: 2rem;

            width: 100%;
          }
        }

        .contact-right-message {
          @include flexCenter;
          width: 100%;
          textarea {
            min-height: 8rem;
            font-family: Roboto;
            width: 100%;
          }
        }

        .contact-right-email-phone {
          input {
          }
        }
      }
    }
  }
}
