@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.contact {
  .contact-container {
    background: white;
    @include flexCenter;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .contact-info {
      padding-left: 2rem;
      padding-right: 2rem;
      @include flexCenter;
      flex-direction: column;
      gap: 2rem;
      //laptop//
      @media (min-width: 768px) {
        flex-direction: row;
      }

      .image {
        background: lightgrey;
        width: 15rem;
        height: 10rem;
        transform: translateY(0);
      }

      .contact-form {
        background: lightgreen;
        height: 15rem;
        flex: 1;
      }
    }
  }
}
