@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.footer {
  background: rgb(30, 30, 30);
  color: white;
  height: 6rem;
  @include flexCenter;
  flex-direction: row;
  overflow: hidden;
  align-self: flex-end;

  .footer-left {
    @include flexCenter;

    .up-arrow-svg {
      color: rgba(232, 232, 232, 0.9);
      background: rgba(0, 0, 0, 0.69);
      border-radius: 0.5rem;
      padding: 0.2rem;
      position: fixed;
      bottom: 0rem;
      left: 0rem;
      font-size: 3rem;
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      transition: all 0.2s ease;
      //tablet//
      @media (min-width: 576px) {
        bottom: 0.5rem;
        left: 0.5rem;
      }
      //desktop//
      @media (min-width: 992px) {
        font-size: 4rem;
      }
    }

    .visible-svg {
      opacity: 1;
      pointer-events: all;
    }

    .visible-svg:hover {
      opacity: 0.7;
    }

    .visible-svg:active {
      transform: scale(0.9);
    }
  }

  .footer-right {
    @include flexCenter;
    align-items: flex-end;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding-right: 1rem;

    .social-links {
      font-size: 2.5rem;
    }
    a {
      transition: all 0.1s;
    }
    a:hover {
      opacity: 0.7;
    }
    a:active {
      opacity: 0.5;
    }
  }
}
