@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  height: 6rem;
  @include flexCenter;
  flex-direction: row;
  overflow: hidden;

  .footer-left {
    @include flexCenter;

    .up-arrow-svg {
      font-size: 4rem;
      margin-left: 1rem;
    }
  }

  .footer-right {
    @include flexCenter;
    align-items: flex-end;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }
}
