@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.gallery {
  background: lightblue;
  margin-bottom: -1rem;
  gap: 2rem;
  //laptop//
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .glr {
    //tablet//
    @media (min-width: 576px) {
      width: 70%;
    }
    //laptop//
    @media (min-width: 768px) {
      width: 60%;
    }
    //desktop//
    @media (min-width: 992px) {
      width: 50%;
    }

    .slider {
      @include flexCenter;
      width: 100%;
      overflow: hidden;

      img {
        max-height: 80vh;
        width: 100%;
        object-fit: cover;
      }

      .prev-btn {
        position: absolute;
        left: 0.5rem;
      }
      .next-btn {
        position: absolute;
        right: 0.5rem;
      }
    }
  }
}
