@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.hero {
  color: white;
  position: relative;
  height: calc(100vh - 6rem);
  min-height: 100vh;
  padding-bottom: 3rem;

  .hero-arrow {
    position: absolute;
    bottom: 5rem;
  }
}

.react-parallax-bgimage {
  content: url("../Pictures/landing-small.webp");
  @media (min-width: 576px) {
    content: url("../Pictures/landing-large.webp");
    @media (min-width: 992px) {
      content: url("../Pictures/landing-XL.webp");
    }
  }
}
