@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.hero {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 6px #000000;
  position: relative;
  height: calc(100vh - 6rem);
  min-height: 100vh;
  padding-bottom: 3rem;

  .hero-text-container {
    position: absolute;
    right: 0;
    @include flexCenter;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media (min-width: 576px) {
      background: rgba(0, 0, 0, 0.85);
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      max-width: 40%;
    }

    h1 {
      padding: 0;
    }

    p {
      text-align: center;
    }

    button {
      background: white;
      color: black;
      border: none;
      border-radius: 0.2rem;
      padding: 0.3rem;
      cursor: pointer;
    }
  }
}

.react-parallax-bgimage {
  content: url("../Pictures/landing-small.webp");
  @media (min-width: 576px) {
    content: url("../Pictures/landing-large.webp");
    @media (min-width: 992px) {
      content: url("../Pictures/landing-XL.webp");
    }
  }
}
