@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.location {
  background: rgb(124, 160, 169);
  margin-bottom: -1rem;
  gap: 2rem;
  //laptop//
  @media (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .loc {
    overflow: hidden;
    @include flexCenter;
    flex-direction: column;
    //tablet//
    @media (min-width: 576px) {
      width: 70%;
    }
    //laptop//
    @media (min-width: 768px) {
      width: 60%;
    }
    //desktop//
    @media (min-width: 992px) {
      width: 50%;
    }
    @media (min-width: 1200px) {
      padding-bottom: 3rem;
    }

    .map {
      overflow: hidden;
      height: 20rem;
      width: 100%;
      //tablet//
      @media (min-width: 576px) {
        height: 25rem;
        max-width: 41rem;
        border-radius: 1rem;
      }
    }
  }
}
