@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  @include flexCenter;
  height: $navbarHeight;
  width: 100%;
  transition: all 0.5s;

  /* LEFT SECTION */
  .navbar-left {
    display: none;
    //laptop//
    @media (min-width: 768px) {
      @include flexCenter;
      height: 100%;
      width: 100%;
    }
  }
  /* MIDDLE SECTION */
  .navbar-middle {
    color: white;
    @include flexCenter;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1;
    gap: 10%;
    margin-left: 1rem;
    //tablet//
    @media (min-width: 576px) {
      white-space: nowrap;
    }
    //laptop//
    @media (min-width: 768px) {
      margin-left: 0;
    }

    .youth-hostel {
      display: none;
      @media (min-width: 576px) {
        display: block;
      }
    }
  }

  /* RIGHT SECTION */
  .navbar-right {
    @include flexCenter;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .book-now-btn {
      background: black;
      color: white;
      align-self: flex-end;
      padding: 1rem;
      margin-right: 1rem;
      display: none;
      //laptop//
      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  /* HM */
  .hamburger-menu {
    color: white;
    z-index: 10;
    @include flexCenter;
    background: black;
    border-radius: 50%;
    padding: 0.5rem;
    position: absolute;
    right: 0.5rem;
    //laptop//
    @media (min-width: 768px) {
      left: 1rem;
      right: auto;
    }

    div {
      @include flexCenter;
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .nav-menu-items {
    z-index: 9;
    background: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @include flexCenter;
    padding-top: 2rem;
    @media (min-width: 768px) {
      right: auto;
      bottom: auto;
      border-bottom-right-radius: 5rem;

      padding: 2rem;
    }

    ul {
      @include flexCenter;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      min-height: 100%;
      font-size: 6vh;
      list-style-type: none;
      padding: 0;
      padding-left: 1rem;
      padding-right: 1rem;
      @media (max-height: 400px) {
      }
    }
  }

  /* LANG */
  .language {
    position: absolute;
    right: 4.5rem;
    width: 41px;
    @media (min-width: 768px) {
      left: 5rem;
      right: auto;
    }
  }
}

.shrink {
  height: calc($navbarHeight - 2rem);
  background: rgb(45, 45, 45);
  transition: all 0.5s;
}
