@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.rooms {
  .rooms-container {
    background: rgb(248, 248, 248);
    @include flexCenter;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding-bottom: 5rem;

    p {
      text-align: center;
      padding-left: 2rem;
      padding-right: 2rem;
      //tablet//
      @media (min-width: 576px) {
        width: 80%;
      }
      //laptop//
      @media (min-width: 768px) {
      }
      //desktop//
      @media (min-width: 992px) {
        width: 70%;
      }
      //large//
      @media (min-width: 1200px) {
      }
    }

    .room-cards {
      padding-left: 2rem;
      padding-right: 2rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      text-align: center;
      //laptop//
      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
      //large//
      @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
