@import "./variables";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

.slider {
  @include flexCenter;
  width: 100%;
  overflow: hidden;
  color: white;

  img {
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
    transition: all 1s;
    pointer-events: none;
  }

  .loading {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
  }
  .not-loading {
    display: none;
  }

  .arrowsSVG {
    cursor: pointer;
    transition: scale 0.1s;
  }
  .arrowsSVG:active {
    scale: 0.9;
  }
  .prev-btn {
    font-size: 1.8rem;
    position: absolute;
  }
  .next-btn {
    font-size: 1.8rem;
    position: absolute;
  }
}
