@import "./Navbar";
@import "./variables";
@import "./Hero";
@import "./About";
@import "./Rooms";
@import "./Location";
@import "./Slopes";
@import "./Gallery";
@import "./Contact";
@import "./Footer";

/* BREAKPOINTS
//tablet//
@media (min-width: 576px) {  
}
//laptop//
@media (min-width: 768px) {
}
//desktop//
@media (min-width: 992px) {
} 
//large//
@media (min-width: 1200px) {
} 
*/

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background: lightblue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  position: relative;
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.rounded-container {
  background: lightpink;
  transform: translateY(-3rem);
  width: 90%;
  border-radius: 3rem;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 1rem;
  //tablet//
  @media (min-width: 576px) {
    font-size: 2rem;
  }
  //laptop//
  @media (min-width: 768px) {
  }
  //desktop//
  @media (min-width: 992px) {
  }
  //large//
  @media (min-width: 1200px) {
    font-size: 3rem;
  }
}
p {
  padding: 1rem;
  //tablet//
  @media (min-width: 576px) {
    font-size: 1.2rem;
  }
  //laptop//
  @media (min-width: 768px) {
  }
  //desktop//
  @media (min-width: 992px) {
  }
  //large//
  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }
}

.image {
  background: lightgrey;
  width: 15rem;
  height: 10rem;
  transform: translateY(-3rem);
}

p {
  margin: 0;
}
